header{
   
     

}

html{
    
    background-color: rgb(249, 217, 217);;
    
    }

NAV{
    height: 100px;
    width:100%;
    
    display: inline-block;
    text-align: right;
   
    position: sticky;
    top: 0;
}

.sticky{

position: fixed;
top : 0;


}


.ul1{

    float: left;

    

}



a:link{

    text-decoration:none;
    color: black;

}

a:hover{

background-color:red;




}

a:visited{

color: greenyellow ;



}

li{ 
 display: inline-block;
 margin: 10px ;
 

}

SECTION{
    
}

ASIDE{
    
   

}

ARTICLE{
    
 
}

FOOTER{
    
    display: inline-block;
    text-align: center;
    
}

.address1{

float:left;

}

.address2{

float:right;

}


.row{

  
    display: flex;


}


.column{


    float:left;
    width: 50%;
    padding : 5px;
    
    
    
    }