header{
    
     

}

html{
    
    background-color: rgb(249, 217, 217);
    
    }

.backgroundcolor{

    background-image: linear-gradient(100deg, rgb(209, 132, 174), rgb(194, 34, 114));

}

NAV{
    height: 50px;
    width:100%;
    
    display: inline-block;
    text-align: right;
    
    position: sticky;
    
    top: 0;
   
}

.sticky{

position: fixed;
top : 0;


}


.ul1{

    float: left;

    

}



a:link{

    text-decoration:none;
    color: black;

}

a:hover{

background-color:red;




}

a:visited{

color: greenyellow ;



}

li{ 
 display: inline-block;
 margin: 10px ;
 

}

label {
    /*display changes the place of the input box*/
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: 0.4rem 0;
}

ASIDE{
   
 

}

ARTICLE{

    float: right;
    padding:0%;

 
}

i{

color: rgba(218, 114, 114, 0.952);
float: left;
margin: 100px;
text-align: center;



}

FOOTER{
    
    display: inline-block;
    text-align: center;
    
   
}

.address1{

float:left;

}

.address2{

float:right;

}


