header{
    
   

}

html{
    
    background-color: rgb(249, 217, 217);
    
    }



NAV{
    height: 50px;
    width:100%;
    background-image: none;
    background-color: whitesmoke;
    text-align: center;
    display: block;
    padding: 14px;
    position: sticky;
    top: 0;
    font-family: 'Newsreader', serif;
}



.sticky{

position: fixed;
top : 0;


}






a:link{

    text-decoration:none;
    color: black;

}

a:hover{

background-color:rgb(241, 27, 145);




}

a:visited{

color:red ;



}

li{ 
 display: inline-block;
 margin: 10px ;
 
 

}

section{

text-align: center;
border-style: double;
margin: 100px;
}



label {
    /*display changes the place of the input box*/
    display: block;
    font: 'Fira Sans', sans-serif;
    font-size: 100px;
    
}

input,
label {
    margin: 0.4rem 0;
}


label,
textarea {
    font-size: 17px;
    letter-spacing: 1px;
}

textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;  

}



ASIDE{
   
 

}

ARTICLE{

    float: right ;
    display: inline;
  
    padding:0%;

 
}

i{

color: rgba(218, 114, 114, 0.952);
float: left;
margin: 100px;
text-align: center;



}

FOOTER{
    
    display: inline-block;
    text-align: center;
    
   
}

.address1{

float:left;

}

.address2{

float:right;

}


