header{
   
     

}

html{
    
    background-color: rgb(249, 217, 217);
    
    }

NAV{
    height: 50px;
    width:100%;
    background-image: none;
    background-color: whitesmoke;
    text-align: center;
    display: block;
    padding: 14px;
    position: sticky;
    top: 0;
    font-family: 'Newsreader', serif;
    

}

.sticky{

   position: fixed;
   top : 0;


}




a:link{

   text-decoration:none;
   color: black;

}

a:hover{

    
   background-color:rgb(241, 27, 145);


}

a:visited{

   color:  red;



}

li{ 
   display: inline-block;
   margin: 10px ;
   padding-bottom: 50px; /*makes nav bar and photots away*/
 
 
 

}

SECTION{
    font-family: 'Newsreader', serif; 
}

ASIDE{
    
   content: center; 

}

ARTICLE{
    

   display: flex; 
   font-family: 'Newsreader', serif;
}

FOOTER{
    
   display: inline-block;
   text-align: center;
    
}

.address1{

   float:left;

}

.address2{

   float:right;

}


.row{

  
   display: flex;


}


